body{
	margin: 0px;
	padding: 0px;
	/*background-image: linear-gradient(180deg, #A5BFDD, #A5BFDD, #FFFFFF, #FFFFFF);*/
	background: linear-gradient(to bottom, #a5bfdd 0%,#a5bfdd 27%,#ffffff 39%,#ffffff 100%);
}

#container{
	background-image: url(/img/bg2.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	/*max-width: 2000px;*/
	height: 1596px;
	position: relative;
	margin: 0 auto;
}

#wrapper{
	width: 100%;
	max-width: 2000px;
	margin: 0 auto;
}

header{
	position: absolute;
	top: 0px;
	background:	url(/img/header.png) center repeat-x;
	width: 100%;
	height: 69px;
}

#headWrapper{
	width: 100%;
	max-width: 2000px;
	height: 60px;
	background: url(/img/headpattern.png) left no-repeat;
	margin: 0 auto;
	display: flex;
	flex: 1 1 50%;
}

#headWrapper h1{
	float: left;
	font: bold 12px arial;	
	margin: 0px 0px 0px 200px;
	display: inline-block;
}

#headWrapper h1 a{
	padding: 21px 2px 21px 110px;
	color: white;
	font: bold 12px arial;
	display: inline-block;
	text-decoration: none;
}

header nav{
	float: right;
	height: 60px;
}

#menu{
	margin-left: 50px;
	display: flex;
	flex: 1 1 50%;
	flex-wrap: no-wrap;
	justify-content: flex-end;
}

#menu a:not(:last-child):after{
	content: "";
	position: absolute;
	top: 0px;
	right: -2px;
	width: 2px;
	height: 100%;
	background-image: url(/img/top-border.png);
} /*MEMENTO KURWA! MEMENTO! WCHUJ PIERDOLENIA SIĘ Z TYM GÓWNEM - TAK TO SIĘ ROBI! DOKŁADNIE TAK!*/

header nav a{
	padding: 21px 20px;
	color: white;
	font: bold 12px arial;
	display: inline-block;
	text-decoration: none;
	position: relative;
}

header nav a:hover{
	color: white;
	border-top: 3px solid red;
	text-decoration: none;
}

header h1 a:hover{
	color: white;
	text-decoration: none;
	border-top: 3px solid red;
}

header nav a:active{
	color: white;
	border-top: 3px solid red;
	text-decoration: none;
}

header h1 a:active{
	color: white;
	text-decoration: none;
	border-top: 3px solid red;
}

header nav a:focus{
	color: white;
	border-top: 3px solid red;
	text-decoration: none;
}

header h1 a:focus{
	color: white;
	text-decoration: none;
	border-top: 3px solid red;
}

#social{
	height: 58px;
	margin-right: 75px;
}

#social a{
	margin: 15px 5px 0px 2px;
	padding: 0px;
}

#social a:hover{
	border:none;
	text-decoration: none;
}

#separator{
	position: absolute;
	bottom: 353px;
	background-image: url(/img/separator.png);
	background-position: center;
	width: 100%;
	max-width: 2000px;
	height: 135px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

#buttoncontainer{
	height: 135px;
	width: 350px;
	margin: 0 auto;
	padding: 24px 0px 0px 137px;
}

#buttoncontainer a:first-child{
	display: block;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	float: left;
}

#buttoncontainer a:not(:first-child){
	display: block;
	height: 25px;
	width: 120px;
	float: right;
	margin-top: 60px;
}

footer /*jebnij tu media query - @(device-width>800px)*/{
	position: absolute;
	bottom: 0px;
	background-image: url(/img/footer-proper.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-width: 2000px;
	height: 353px;
	margin: 0px;
	padding: 0px;
	box-shadow: 0px -8px 9px #F1F1E9;
	display: flex;
	justify-content: center;
}

footer nav{
	width: 400px;
	padding-top: 0px;
	margin-top: 27px;
	float: right;
	border-left: 1px solid #AEAEAE;
}

footer nav ul{
	list-style: none;
}

footer h1{
	font: bold 12px arial;
	color: black;
	margin: 0px;
	padding: 0px 50px 0px 105px;
	display: inline-block;
	width: 350px;
	float: left;
}

footer h2{
	font: bold 12px arial;
	color: black;
	margin: 0px;
}

footer h1 a.bottom:first-child{
	font: bold 12px arial;
	color: black;
	margin: 0px;
	width: 160px;
}

footer h1 a:hover{
	color: black;
	text-decoration: none;
	border-top: 3px solid red;
}

footer h1 a:active{
	color: black;
	text-decoration: none;
	border-top: 3px solid red;
}

footer h1 a:focus{
	color: black;
	text-decoration: none;
	border-top: 3px solid red;
}

.bottom{
	display: block;
	padding-top: 27px;
}

.bottom img{
	margin-right: 25px;
}